.burger-icon {
  stroke-width: 2px;
  position: relative;
  /* right: -7vw; */
}
.burger-navbar {
  padding: 0 5vw !important;
  display: flex;
  justify-content: space-between !important;
}
.burger-navbar-logo {
  position: relative;
  /* right: 7vw; */
}
.burger-icon:hover {
  cursor: pointer;
}
.logo-pic {
  position: relative;
  left: 21px;
  line-height: 31px;
  display: flex;
  font-weight: 700;
}
.logo-pic img {
  position: relative;
  background-color: white;
}
.burger-nav-links {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  color: white;
  height: 40%;
}
.burger-nav-links a {
  color: white;
  text-decoration: none;
}
.burger-nav-links a:hover {
  color: #07b821;
}
.x-icon {
  color: rgb(177, 169, 169) !important;
  position: absolute;
  opacity: 0;
  right: -10%;
  top: -20%;
  transition: all 0.6s;
  stroke-width: 10px;
}
.x-icon.active {
  left: 25px;
  z-index: 100;
  top: 15px;
  opacity: 1;
  color: rgb(177, 169, 169) !important;
  position: fixed;
  stroke-width: 10px;
}
.x-icon:hover {
  cursor: pointer;
  color: #e2dddd !important;
}

.burger-menu {
  line-height: normal;
  background-color: #012c3c;
  width: 35vw;
  min-width: 190px;
  z-index: 10000;
  height: 100vh;
  position: fixed;
  right: -110%;
  border-left: rgba(255, 255, 255, 0.226) 1px solid;
  top: 0;
  transition: 850ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg-icons {
  vertical-align: top;
}

.burger-menu.active {
  right: 0;
}
.backdrop {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.541);
}
