.centerComp {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}
.banner_text-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.banner_text {
  margin: auto;
  width: 50%;
  margin-top: 25%;
  /* height: 13%; */
}
.Silver_heading {
}
.card-div {
  margin-top: -0.5vh;
  margin-bottom: -0.5vh;
  width: 100%;
}
.header-img {
  margin: 0 auto;
  width: 100%;
}
.cards-container {
  width: 100%;
  /* left: 5.63vw; */
  padding-left: 5.5vw;
}
.card {
  width: 100%;
}
.card img {
  width: 50vw;
}
.right-arrow {
  position: relative;
  right: 50px;
  top: 0;
  bottom: 0;
}
.right-arrow img {
  width: 25vw;
}
.legendary-arrow {
  position: relative;
  bottom: 0;
  top: 0;
  /* width: 50vw; */
  right: 80px;
}
.legendary-arrow img {
  width: 15vw;
}
.three-cards {
  position: absolute;
  margin-top: 5vh;
  z-index: 100000;
  right: 10vw;
}
.three-cards img {
  width: 25vw;
}
.row1 {
  background-image: url("../../assests/banner1.svg");
}
.last-picture {
  position: absolute;
  z-index: -10000;
  height: 100%;
}
.nft-component {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.each-nft {
  margin: 1.75vh 20px;
  height: 79.45vh;
  /* width: 23.57vw; */
  width: 322px;
}
@media only screen and (max-width: 768px) {
  .right-arrow {
    right: 8vw;
  }
  .legendary-arrow {
    right: 10vw;
  }
}
