.navbar {
  background-color: #012c3c;
  height: 12.64vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem ;
}
.nav-links {
  display: flex;
  /* width: 40%; */
  /* float: right; */
  align-items: center;
  justify-content: space-between;
  /* line-height: 12.64vh; */
  /* position: relative; */
}
.nav-links a {
  color: white;
  margin-right: 4vw;
  text-decoration: none;
}
.nav-links a:nth-child(1) {
  color: #d1ae38;
}
.nav-links a:nth-child(4) {
  margin-right: 1.2vw;
  padding: 1vh 2vw;
  border-radius: 40px;
  background-color: #0c5e45;
}
.nav-links a:nth-child(5) {
  padding: 1vh 3vw;
  border-radius: 40px;
  border: 1px solid white;
  margin-right: 0;
}

