.footer {
  position: relative;
  /* z-index: -100; */
  margin-top: -1vh;
  padding: 10vh 5vh 5vh 5vh;
  /* padding-top: 15vh; */
  align-items: center;
  background: #10082f;
  min-height: 63.9vh;
  font-weight: bold;
  color: white;
}
.footer_flex {
  display: flex;
  justify-content: space-between;
  /* margin: 0 10rem; */
  margin-bottom: 10vh;
  height: 100%;
  flex-wrap: wrap !important;
  width: 100%;
}
.footer_col0,
.footer_col1,
.footer_col2,
.footer_col3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* justify-content: center; */
  align-items: flex-start;
  width: 200px;
}
.footer_col3 {
  width: 350px;
}
.footer_flex p {
  margin-top: 3vh;
}
/* .footer_col3 p {
  margin: 3vh 0 1vh 0 !important;
} */
.soicalSvg {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  width: 85px;
}
.soicalSvg svg {
  font-size: 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 0.4rem;
  border-radius: 5rem;
}
.footer_input {
  display: flex;
  margin-top: 5vh;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

.input_contianer {
  border: 1px solid rgba(255, 255, 255, 0.13);
  width: 15%;
  display: block;
  height: 90%;
  background: #10082f;
  color: white;
  padding-left: 2vw;
  width: 100%;
  font-size: 0.8rem;
  height: 95%;
}
.footer_input_btn {
  font-size: 0.8rem;
  padding: 0 1vw;
  width: 40%;
}

.footer_input input:focus {
  outline: none;
}
.footer_input input::placeholder {
  color: white;
}
.footer_input button {
  background: #0f7d4c;
  height: 100%;
  width: 30%;
  color: white;
}

.footer_down {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_down p {
  margin-top: 2vh;
}
@media only screen and (max-width: 768px) {
  .footer {
    font-size: 0.7rem;
    /* height: 85.9vh; */

    /* padding-top: 0vh; */
  }
  .footer_flex {
    flex-wrap: wrap;
    margin-bottom: 5vh;
    /* padding-top: 25vh; */
  }
  .footer_col {
    padding: 0 1rem;
  }
}
