.footer {
  position: relative;
  background: #10082f;
  height: 70.9vh;
  font-weight: bold;
  color: white;
}
.footer_flex {
  display: flex;
  justify-content: space-between;
  /* margin: 0 10rem; */
  padding: 5vh 5vh 0 5vh;
}
.footer_col {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  max-width: 300px;
}
.soicalSvg {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  width: 85px;
}
.soicalSvg svg {
  font-size: 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 0.4rem;
  border-radius: 5rem;
}
.footer_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 325px;
}

.input_contianer {
  border: 1px solid rgba(255, 255, 255, 0.13);
  height: 95%;
  width: 70%;
}

.footer_input input {
  height: 90%;
  background: #10082f;
  color: white;
  border: none;
  /* margin-left: 1rem; */
  width: 70%;
  font-size: 1rem;
}
.footer_input input:focus {
  outline: none;
}
.footer_input input::placeholder {
  color: white;
}
.footer_input button {
  background: #0f7d4c;
  height: 100%;
  width: 30%;
  color: white;
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 0.7rem;
  }
  .footer_flex {
    flex-wrap: wrap;
    margin: 0;
    padding-top: 15rem;
  }
  .footer_col {
    padding: 0 1rem;
  }
}
